* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: url('./images/background2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: Black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper_dashboard {
  width: 100vw;
  min-height: 100vh;
  background: url('./images/background2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: Black;
  padding-top: 4rem;
  display: flex;
  align-items: baseline;
  padding-left: 2rem;
  padding-right: 2rem;
}

.space {
  margin: .5rem;
}

.space-2 {
  margin: 2rem;
}

.notification {
  position: fixed;
  padding: 1rem;
  border-radius: .5rem;
  background-color: rgb(255, 135, 131);
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s linear;
}

.clickable {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.clickable:hover {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(145, 145, 145, 1);
  -moz-box-shadow   : 0px 2px 2px 0px rgba(145, 145, 145, 1);
  box-shadow        : 0px 2px 2px 0px rgba(145, 145, 145, 1);
}

.bg-1 {
  background-color: rgb(22, 79, 155) !important;
}

.bg-2 {
  background-color: rgb(6, 94, 3) !important;
}

.bg-3 {
  background-color: rgb(165, 91, 49) !important;
}

.bg-4 {
  background-color: rgb(97, 15, 114) !important;
}

.bg-5 {
  background-color: rgb(168, 138, 5) !important;
}

.bg-6 {
  background-color: rgb(143, 31, 31) !important;
}

.color-1 path {
  color: rgb(22, 79, 155) !important;
}

.color-2 path {
  color: rgb(6, 94, 3) !important;
}

.color-3 path {
  color: rgb(165, 91, 49) !important;
}

.color-4 path {
  color: rgb(97, 15, 114) !important;
}

.color-5 path {
  color: rgb(168, 138, 5) !important;
}

.color-6 path {
  color: rgb(143, 31, 31) !important;
}